*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background: #111218;
  color: #E6E6E6;
  display: flex;
  min-height: 100vh;
}

.sidebar{
  width: 200px;
  background: #2b2c33;
  padding: 2rem 1rem;
  position: fixed;
  height: 100%;
}

.sidebar h2{
  color: #6ce0c7;
  margin-bottom: 2rem;
  text-align: center;
}


.sidebar ul{
  list-style: none;
}

.sidebar ul li{
  margin: 1rem 0;
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar ul li i{
  margin-right: 10px;
}

.main-content{
  margin-left: 200px;
  padding: 3rem;
  width: 100%;
}

h1{
  margin-bottom: 2rem;
  font-size: 2rem;
}

.playlist-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax,(180px, 1fr));
  gap: 1.5rem;
  padding: 0.7rem;
}

.playlist-card{
  background: #2b2c33;
  padding: 1rem;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  display: flex; 
  flex-direction: column;
}

.playlist-card img{
  width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block;   
}

.album-cover{
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.playlist-title{
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
}

.fake-play-button{
  position: absolute;
  top: 10px;
  right: 10px;
  background: #6ce0c7;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  pointer-events: none;
}

.playlist-popup{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.playlist-popup:target{
  display: flex;
}

.player-content{
  background: #2b2c33;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.player-content img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.play-btn{
  background: #6ce0c7;
  color: #fff;
  border: none;
  padding: 0.3rem;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  width: 30%;
  height: 50%;
  margin: 10px;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

/* Responsive sidebar */

@media(max-width: 768px){
 
  .sidebar{
    width: 70px;
    padding: 1rem 0.5rem;
  }
  
  .sidebar h2{
    font-size: 1rem;
  }
  
  .sidebar ul li{
    font-size: 0;
  }
  
  .sidebar ul li i{
    font-size: 1.2rem;
  }
  
  .main-content{
    margin-left: 70px;
  }
  
}